.page {
  height: 100%;
  padding: var(--8) var(--4) var(--4);
}

.tooltip {
  position: absolute;
  top: 0;
  right: 0;
  translate: -25% -50%;
  font-size: var(--text-sm);
  line-height: var(--leading-sm);
  background-color: var(--accent);
  color: var(--accent-foreground);
  padding: var(--1);
  border-radius: var(--rounded-md);
  opacity: 0.8;
}

.table-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: var(--4);
  row-gap: var(--8);
}

.table-grid__cell {
  height: 5rem;
  position: relative;
  border-width: 1px;
  border-color: hsl(var(--bc) / 0.15);
  padding: var(--2);
  border-radius: var(--rounded-md);
  background-color: hsl(var(--b3) / 0.2);
  color: var(--card-foreground);
}

@media (min-width: 768px) {
  .page {
    padding: 50px;
  }
  .tooltip {
    translate: 50% -50%;
  }
  .table-grid {
    gap: 50px;
  }
}
