.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--12);
  height: var(--12);
  background-color: var(--card);
  color: var(--accent-foreground);
  border: 1px var(--input);
  border-radius: var(--rounded-full);
}

.button:hover {
  background-color: var(--muted);
  opacity: 0.6;
  color: var(--muted-foreground);
}

.button-icon__sun {
  width: 1.2rem;
  height: 1.2rem;
}

.button-icon__moon {
  width: 1.2rem;
  height: 1.2rem;
}
